params.p2 = null

process {
  // container = 'ghcr.io/juyeongkim/tmalign:latest'
  container = 'tmalign'
  errorStrategy = 'ignore'
}

executor.$slurm.queueSize = 0

profiles {
  standard {
    process {
      executor = 'local'
      // maxForks = 1
      cpus = 1
    }
    docker {
      enabled = true
      runOptions = "--cpus=1 --platform=linux/amd64"
    }
  }
  cluster {
    process {
      executor = 'slurm'
      cpus = 1
      memory = '13 GB'
    }
    apptainer {
      enabled = true
      autoMounts = true
    }
  }
}